
.col{
    padding: 12px;
}
.card {
    box-shadow: 0 0 5px gray;
}
.image{
    width: 100%;
}
.btn{
    margin: 10px
}
.button{
    border: blue;
    background-color: #0000ffc7;
    padding: 4px 13px;
    border-radius: 7%;
    color: white;
}